.channelDefinitionView {
    background: white;
    height: 100%;
    width: 100%;
}

#channelDefinitionHeader {
    height: 30px;
    padding: 4px;
}


#channelDefinitionGrid th .headerContent {
    padding-left: 10px;
}

#channelDefinitionHeader #uniform-fleetCombo {
    display: inline-block !important;
    width: 150px !important;
}

#channelDefinitionHeader #uniform-fleetCombo span {
    width: 125px !important;
}

.channelDefinitionGridContainer {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

#channelDefinitionGrid {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 45px;
    right: 0px;
}

#channelDefinitionGrid th {
    white-space: nowrap;
    padding: 2px;
    padding-left: 4px;
    line-height: 23px;
    text-align: left;
}

#channelDefinitionGrid td {
    white-space: nowrap;
    text-align: left;
    padding: 2px;
    padding-left: 4px;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#channelDefinitionDialog {
    overflow: hidden;
}

#channelDefinitionDialog #leftPanel {
    position: relative;
    float: left;
    padding-right: 2px;
    border-right: solid 1px #b6b6b6;
	overflow: auto;
	max-height: 95%;
	width: 46%;
}

#channelDefinitionDialog #rightPanel {
    position: relative;
    width: 465px;
    float: right;
}

#channelDefinitionDialog #bottomPanel {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    text-align: right;
}

#channelDefinitionDialog .detailRow,
#channelDefinitionDialog .detailRuleRow {
    line-height: 32px;
}

#channelDefinitionDialog .detailRuleRow {
    padding-left: 5px;
}

#channelDefinitionDialog .ruleHeader,
#channelDefinitionDialog .validationsHeader {
    background: #eeeeee;
    border: solid 1px #b6b6b6;
    line-height: 32px;
    font-weight: bold;
}

#channelDefinitionDialog .validationsHeader {
    text-align: center;
}

#channelDefinitionDialog .detailLabel {
    position: relative;
    white-space: nowrap;
    width: 120px;
    float: left;
}

#channelDefinitionDialog .smallDetailLabel {
    position: relative;
    white-space: nowrap;
    /* width: 45px; */
    float: left;
}

#channelDefinitionDialog .readOnlyField {
    color: #b6b6b6;
}

#channelDefinitionDialog .readOnlySelect {
    margin-left: 4px;
    width: 278px;
	max-height: 60px;
	background: white;
}

#channelDefinitionDialog .readOnlySelect option {
    background: white;
}

#channelDefinitionDialog .detailInput,
#channelDefinitionDialog #dialogRuleName {
    width: 250px;
    margin-left: 4px;
    margin-top: 4px;
}

#channelDefinitionDialog #leftPanel .selector {
    display: inline-block !important;
    width: 255px !important;
}

#channelDefinitionDialog #leftPanel .selector span {
    width: 230px !important;
}

#channelDefinitionDialog #uniform-dialogRuleCombo,
#channelDefinitionDialog #uniform-dialogRuleStatus {
    display: inline-block !important;
    width: 200px !important;
}

#channelDefinitionDialog #uniform-dialogRuleCombo span,
#channelDefinitionDialog #uniform-dialogRuleStatus span {
    width: 175px !important;
}

#channelDefinitionDialog #uniform-validationMinInc,
#channelDefinitionDialog #uniform-validationMaxInc {
    display: inline-block !important;
    width: 45px !important;
}

#channelDefinitionDialog #uniform-validationMinInc span,
#channelDefinitionDialog #uniform-validationMaxInc span {
    width: 20px !important;
}

#channelDefinitionDialog #uniform-validationChannel {
    display: inline-block !important;
    width: 180px !important;
}

#channelDefinitionDialog #uniform-validationChannel span {
    width: 155px !important;
}

#channelDefinitionDialog #validationMinValue,
#channelDefinitionDialog #validationMaxValue {
    width: 50px;
    top: 2px;
    position: relative;
}

#channelDefinitionDialog .invalidInput {
	background-color: #f3a6a6;
}

#channelDefinitionDialog .invalidRuleDiv {
    position: relative;
    bottom: 0px;
    left: 0px;
    text-align: center;
    border-radius: 2px;
}

#channelDefinitionDialog #dialogRuleButtons,
#channelDefinitionDialog #validationAddButton,
#channelDefinitionDialog #validationRemoveButton {
    float: right;
    height: 32px;
}

#channelDefinitionDialog .dialogIconButton {
    width: 30px;
    height: 24px;
    margin-top: 5px;
}

#channelDefinitionDialog .ruleNonVisible {
    display: none;
}

#channelDefinitionDialog .ruleVisible {
    display: block;
}

#channelDefinitionDialog #dialogRuleValidations {
    height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
}

#channelDefinitionDialog textarea {
    resize: none;
    width: 255px !important;
}