#stockSummaryHeader {
    position: absolute;
    top: 0px;
    height: 35px;
    background: white;
    width: 100%;
    border-top: 1px solid #b6b6b6;
}

#stockSummaryHeader .formationUnit {
    /*
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px gray;
    */
    
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
    /*width: 60px;*/
    height: 30px;
    line-height: 30px;
    text-align: center;
    
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    color: #444;

    cursor: pointer;
}

#stockSummaryHeader .selectedFormationUnit {
    color: #0086CD !important;
    text-shadow: 0.1em 0.1em #DDD;
}