body.loginpage {
    background-color: #e6e6e6;
    font-family: arial;
    text-align: center;
}

.logo {
    height: 32px;
    background: url('../img/nexala-r2m.png') no-repeat scroll .6em 0 white;
    background-position: top right;
    border-bottom: 1px solid #4d80bc;
    margin-top: 10px;
}

.loginbox {
    text-align: left;
    position: relative;
    top: 12em;
    width: 26em;
    margin: auto;
    border: 1px solid #757575;
    border-radius: 5px;
    background: white;
}

.loginbox .loginform fieldset {
    border: none;
    margin: 1.5em 0 0 0;
    padding: 0 0 0 0;
}

.loginform {
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

label {
    margin-right: 1em;
    float: left;
    clear: both;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}

input.logintext {
    float: right;
    width: 20em;
    height: 25px;
    line-height:25px;
    border: 1px solid gray;
    border-radius: 2px;
    background: #efefef;
}

input.loginButton {
    width: 7em;
    float: right;
    background: rgb(117, 117, 117);
    color: white;
    border: 1px solid rgb(90, 89, 89);
    padding: 3px;
    border-radius: 2px;
}


.link a, .link a:visited, .link a:hover {
    color: #00ADEE;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.link a {
    display: block;
    float: left;
    font-size: 12px;
}
.link a {
    line-height: 12px;
    padding: 11px 7px 0px 7px;
    box-sizing: border-box;
}
