.downloadView {
    position: relative;
    height: 100%;
}

.downloadHeader {
    height: 40px;
    padding: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.downloadHeader label {
    margin-right: 3px;
}

.downloadSearch {
    display:inline-block;
    width: 650px;
}
.downloadCreate {
    display: inline-block;
    float: right;
    margin: 10px;
}

.createDownloadDialog {
     font-size: 11px; 
}

.downloadButtonSearch{
    width: 20px;
    height: 20px;
    outline: none;
    border-width: 0px;
    background: url('../img/search.png') no-repeat;
    cursor: pointer;
    *cursor: hand;
    margin-left: 10px;
}

.downloadButtonSearchReset{
    width: 20px;
    height: 20px;
    outline: none;
    border-width: 0px;
    background: url('../img/noSearch.png') no-repeat;
    cursor: pointer;
    *cursor: hand;
    margin-left: 10px;
}

.createDialogDownloadButton{
    float: right;
    border-style: solid;
    border-width: 1px;
    font-size: 11px;
    background-color: #E8E8F5;
    padding: 2px;
    margin: 0px 5px;
    border-color: #F6F6FF #A6A6AF #A6A6AF #F6F6FF;
    cursor: pointer;
    *cursor: hand;
}

.dialogDownloadButton{
    border-style: solid;
    border-width: 1px;
    font-size: 11px;
    background-color: #E8E8F5;
    padding: 2px;
    margin: 15px 10px;
    border-color: #F6F6FF #A6A6AF #A6A6AF #F6F6FF;
    cursor: pointer;
    *cursor: hand;
}

.searchLabel30{
    width: 30px;
    display: inline-block;
    margin-left: 5px;
    font-size: 11px; 
}
.searchLabel40{
    width: 40px;
    display: inline-block;
    margin-left: 5px;
    font-size: 11px; 
}
.searchLabel50{
    width: 50px;
    display: inline-block;
    margin-left: 5px;
    font-size: 11px; 
}
.searchLabel100{
    width: 100px;
    display: inline-block;
    margin-left: 5px;
    font-size: 11px; 
}

.timeLabel {
	bottom: 10px;
}

.searchInput80{
    width: 80px;
    font-size: 13px;
    margin: 1px;
}
.searchInputSelect80{
    width: 84px;
    font-size: 13px;
    margin: 1px;
    height: 100%;
    width: 100%;
}
.searchInput150{
    width: 150px;
    font-size: 11px;
    margin: 1px;
}

.downloadDate {
    width: 84px;
    height:13px;
    margin: 1PX;
}

.insertErrorMessage {
    font-weight: bold;
    color: red;
    font-size: 11px;
}

#uniform-fileTypeField, #uniform-vehicleNumberField {
    display: inline-block;
    width: 91px !important;
}
#uniform-fileTypeField span, #uniform-vehicleNumberField span{
    width: 70px !important;
}

.confirmPanel {
    bottom: 15px;
    width: 95%;
    height: 20;
    padding: 0 5px 5px 0;
    box-sizing: border-box;
    text-align: center;
}

.insertErrorMessage {	
    padding: 0 5px 5px 0;
}

.errorMessage {	
    text-align: center;
}

#popupFilters {
    position: absolute;
    padding: 0 5px;
    box-sizing: border-box;
    background: white !important;
    filter:progid:DXImageTransform.Microsoft.gradient(Enabled=false);
}

#popupFilters .labelledItem span {
    width:123px !important;
}

#popupFilters .uniform-multiselect {
    width: 110px;
    background: white;
    margin: 0 0 5px 5px;
}

.labelSelect {
    position: relative;
}

.labelledItem {
    height: 40px;
    display: table-row;
}

.downloadView .ui-button-text {
    padding: .2em 1em .2em 1em;
}

#createDownloadDialog .ui-button {
    margin: .3em .3em 0 0;
}

#createDownloadDialog .ui-button-text {
    padding: .2em 1em .2em 1em;
}

#downloadTable {
    position: absolute;
    width: 100%;
    top: 40px;
    bottom: 0px;
}

#downloadTable .eventIcon {
    margin-top: 7px;
}

#downloadTable table {
    width: 100%;
}

#downloadTable table {
    height: 23px;
    line-height: 23px;
}

#downloadTable table td {
    font-size: 10pt;
}

#downloadTable .dataTable tr {
    cursor: pointer;
}

#downloadTable table tr.odd {
    background-color: #F2F2F2;
}

#downloadTable table tr.even {
    background-color: white;
}

#downloadTable td {
    padding: 1px;
    border: 1px solid #DDD;
}

#downloadTable th {
    color: #555;
    border: 1px solid #BBB;
    height: 18px;
}

#downloadTable th .headerContent {
    padding-left: 10px;
}

#downloadTable td, #downloadTable th  {
    white-space: nowrap;
    text-align: left;
    padding: 2px;
    padding-left: 4px;
}

#downloadTable .failedIcon {
    background: url('../img/redIcon.png') no-repeat;
    background-position: center;
    height: 25px;
}

#downloadTable .progressIcon {
    background: url('../img/aquaIcon.png') no-repeat;
    background-position: center;
    height: 25px;
}

#downloadTable .requestedIcon {
    background: url('../img/yellowIcon.png') no-repeat;
    background-position: center;
    height: 25px;
}

#downloadTable .successIcon {
	background: url('../img/greenIcon.png') no-repeat;
    background-position: center;
    height: 25px;
}

#downloadCreate {
    position: absolute;
    top: 7px;
    right: 5px;
    display: inline-block;
}

#downloadHeader #uniform-fleetField {
    display: inline-block !important;
    width: 150px !important;
}

#downloadHeader #uniform-fleetField span {
    width: 125px !important;
}

#popupFilters .labelledItem .date .inputDiv .hour{
    display: none;
}

#popupFilters .labelledItem .date .inputDiv .minute{
    display: none;
}

#popupFilters .labelledItem .date .inputDiv .second{
    display: none;
}

#popupFilters .labelledItem .time .inputDiv .date{
    display: none;
}

#popupFilters .labelledItem .time .inputDiv .hour{
    margin-left: 10px; 
}

.timePicker {
    margin-left: 5px;
}

.inputText{
    margin-left: 5px;
}

.ui-autocomplete{
    max-height : 150px;
    overflow : auto;
}

#createDownloadDialog {
	max-height : 330px;
	font-weight: bold;
}


