.timePicker {
    height: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ie-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 5px;
}

.timePicker div {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ie-box-sizing: border-box;
    box-sizing: border-box;
}

.timePicker .nowButton, .timePicker .leftButton, .timePicker .rightButton {
    height: 100%;
    width: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
 
 /*
.timePicker .ui-state-active {
    border: 1px solid #AAA;
    background: #CCC url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    color: #222;
    font-weight: bold;
}*/
 
.timePicker .leftButton {
    border-right: 0px !important;
} 
 
.timePicker .nowButton {
    line-height: 28px;
    font-size: 10px;
    color: #08f;
    border-left: 0px;
    border-right: 0px !important;
    width: 50px;
}

.timePicker .inputDiv {
    height: 100%;
    display: inline-block;
}

.timePicker .inputDiv {
    padding-top: 2px;
}
 
.timePicker .inputDiv input {
    font-size: 12px;
    background: #EEE;
    border-radius: 2px;
    border: 0;
    color: #222;
    text-align: left;
    text-align: center;
    padding: 0px;
    line-height: 24px;
    height: 24px;
}

.timePicker .inputDiv .date {
    width: 75px;
    margin-left: 10px;
    margin-right: 10px;
}

.timePicker .inputDiv .hour {
    width: 18px;
    margin-right: 2px;
}

.timePicker .inputDiv .minute {
    width: 18px;
    margin-right: 2px;
}

.timePicker .inputDiv .second {
    width: 18px;
    margin-right: 10px;
}

.timePicker input {
    float: left;
}