#unitSummaryHeader {
    position: absolute;
    top: 0px;
    height: 35px;
    background: white;
    width: 100%;
    border-top: 1px solid #b6b6b6;
}

#unitSummaryHeader .formationUnit {
    /*
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px gray;
    */
    
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
    /*width: 60px;*/
    height: 30px;
    line-height: 30px;
    text-align: center;
    
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    color: #444;

    cursor: pointer;
}

#unitSummaryHeader .selectedFormationUnit {
    color: #0086CD !important;
    text-shadow: 0.1em 0.1em #DDD;
}

#unitSummaryBody {
    position: absolute;
    top: 35px;
    bottom: 0px;
    width: 100%;
}

#unitTabs .ui-tabs-nav {
    height: 29px;
}

#playPauseButton, #timePicker {
    float: left;
}

#playPauseButton {
    margin-right: 5px;
}

#timeController {
    position: absolute;
    top: 15px;
    right: 5px;
    z-index:1;
}

#unitSummaryBody #unitTabs  ul  {
    filter: none;
}