#eventDetailDrillDown {
    display: none;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    overflow: hidden;
}

#eventDetailToolbar {
	width: 100%;
	height: 30px;
	margin-bottom: 4px;
	position: relative;
	border: 1px solid #B6B6B6;
	border-radius: 4px;
}

body.cursorWaiting * {
	cursor: wait
}

.screenMask {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    filter: Alpha(Opacity = 40);
    -moz-opacity: 0.4;
    opacity: 0.5;
    background-color: #FFFFFF;
    z-index: 10000;
}

.eventNavButton {
	margin-top: 2px;
	margin-right: 2px;
}

.dropdown {
	float: left;
	height: 100%;
}

.dropdown button span {
	float: left;
}

.dropdown-menu {
  	position: absolute;
  	top:100%;
  	z-index: 1001;
  	min-width: 100px;
  	padding: 2px 2px 0px 2px;
  	margin: 0px 0 0;
  	list-style: none;
  	font-size: 12px;
  	text-align: left;
  	background-color: #2F4F4F;
  	border: 1px solid #cccccc;
  	border: 1px solid rgba(0, 0, 0, 0.15);
  	border-radius: 4px;
  	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  	-webkit-background-clip: padding-box;
  	background-clip: padding-box;
}

.dropdown-backdrop {
	z-index: 1000;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left:  0px;
	right: 0px;
	opacity: 0.4;
	background-color: #ffffff;
}

.dropdownBtnContainer {
	height: 35px;
	width: 100%;
	text-align: center;
	margin-bottom: 2px;
	border-radius: 4px;
	background-color: white;
}

.dropdownBtn {
	margin-top: 0px;
	width: 100%;
	height: 100%;
}

#appNavButtonDropdown {
	float: left;
	margin-left: 2px;
	margin-top: 1px;
}

#actionButtonDropdown {
	float: left;
	margin-left: 2px;
	margin-top: 1px;
}

/* Comment Dialog*/
.eventDetailComment {
	padding: 4px;	
}

.commentBodyContainer {
	width: 100%;
}

.dialogFieldContainer {
	width: 100%;
}

.dialogFieldLabel {
	margin-top: 3px;
}

input.dialogInvalidInput, textarea.dialogInvalidInput {
    border: 1px solid red;
}

div.dialogInvalidInput {
    outline: 1px solid red;
    outline-offset: -5px;
}

.dialogFieldAsterisk, .dialogFieldLabel
{
    display:inline;
}

.dialogFieldAsterisk
{
    color: red;
}

.commentBodyContainer .selector {
    display: inline-block;
    width: 100% !important;
}

.commentBodyContainer .selector span {
    display: inline-block;
    width: 93% !important;
}

.commentBodyContainer .selector.disabled span {
    color: #656565;
}

.commentTextArea {
	width: 102%;
	height: 90px;
	resize: none;
}

.readOnlyField {
	background-color: #d3d3d3;
}

.popupTextField {
	width: 100%;
}

#eventDetailMargin {
    position: relative;
    height: 95%;
    width: 100%;
}

#eventDetail {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 285px;
    /*background: #ddd;*/
    box-sizing: border-box;
}

#eventDetailChannels {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 285px;
    right: 185px;
}

#eventChannelGroups {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 186px;
}

#eventGroup {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 186px;
}

.eventLabel {
    font-weight: bold;
}

/* IE seems to not grey the field when disabled */
#keyWordEventSearch.disabled {
	background-color: #F0F0F0;
}

#eventDescriptionTable td {
    border: 1px solid #b6b6b6;
    background: white;
    padding: 5px;
    width: 55%;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    max-width: 140px;
}

#eventDescriptionTable {
    width: 100%;
    table-layout: fixed;
	overflow-y: scroll;
	overflow-x: hidden;
	display: block;
}

#additionalInfo {
	overflow-y: hidden;
	overflow-x: hidden;
}

#eventDescriptionTable .severityFault {
    color : red;
}

#eventDescriptionTable .severityWarning {
    color : #D9680D;
}

#eventDescriptionTable .severityEvent {
    color : yellow;
}

#eventStockTabs .tabFault a {
    color : red;
}

#eventStockTabs .tabWarning a {
    color : #D9680D;
}

#eventStockTabs .tabEvent a {
    color : yellow;
}

#eventDescription {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 5px;
}

#eventLocation {
    position: absolute;
    left: 0px;
    right: 5px;
    bottom: 0px;
    display: none;
}

#eventDescriptionHeader,
#eventLocationHeader {
    padding: 5px;
}

#eventLocationContainer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 1px solid #b6b6b6;
}

#edMapBlock {
    height: 100%;
    width: 100%;
}

#eventChannelDataTable {
    height: 100%;
}

#eventChannelDataTable .scroller {
    overflow-y: scroll;
}

#eventStockTabs ul {
    padding-left: 5px;
}

.eventTitleLink {
    text-decoration: none;
}

.eventDetailHelpButton {
	height: 22px;
	width: 22px;
	float: right;
	right: 25px;
	margin-left: 5px;
}

.eventDetailHelpIcon {
	left: .2em !important;
}

.eventDetailHelpButton span.ui-button-text {
	display: none;
}

#eventDetailTopButtonContainer {
	top: -2px;
	right: 0px;
	width: 100px;
	float: right;
}

#eventDetailTopButtonContainer button {
    margin-left: 0px;
}

/* Event Detail Updater */
#edUpdaterContainer #edUpdaterComment {
    width: 100%;
    height: 26px;
    border-radius: 2px;
    box-sizing: border-box;
}

#edUpdaterContainer #edUpdaterDate,
#edUpdaterContainer #edUpdaterHour,
#edUpdaterContainer #edUpdaterMinute,
#edUpdaterContainer #edUpdaterSecond {
    border-radius: 3px;
    height: 26px;
    padding: 0;
    text-align: center;
    margin-right: 3px;
}

#edUpdaterContainer #edUpdaterDate {
    width: 84px;
}

#edUpdaterContainer #edUpdaterHour,
#edUpdaterContainer #edUpdaterMinute,
#edUpdaterContainer #edUpdaterSecond {
    width: 20px;
}

#edUpdaterContainer #uniform-edUpdaterStatus {
    display: inline-block !important;
    width: 94px !important;
}

#edUpdaterContainer #uniform-edUpdaterStatus span {
    width: 72px !important;
    text-align: left !important;
}

#edUpdaterContainer #edUpdaterDivButton {
    float: right;
}

#edUpdaterContainer button {
    margin: 0px;
    width: 79px;
    height: 26px;
}

#edUpdaterContainer button .ui-button-text {
    padding: 0.4em 0.4em;
}

/* Vertical Tabs */
#eventChannelGroups .ui-tabs-panel {
    display: none;
}

#eventChannelGroups.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0 0 1px 0;
    box-sizing: border-box;
}

#eventChannelGroups.ui-tabs-vertical .ui-tabs-nav li a {
    width: 90%;
}

#eventChannelGroups.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
    z-index: 1;
    width: 187px;
    margin-left: -1px;
    border-left: 1px solid #fff;
}

#eventChannelGroups .ui-tabs .ui-tabs-nav li {
    border-bottom: 1px solid #B6B6B6 !important;
    border-left: 0px !important;
}

#eventChannelGroups .ui-corner-left {
    -moz-border-radius-topleft: 0 !important;
    -webkit-border-top-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    -moz-border-radius-bottomleft: 0 !important;
    -webkit-border-bottom-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

#eventChannelGroups .ui-corner-right {
    -moz-border-radius-topright: 0 !important;
    -webkit-border-top-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    -moz-border-radius-bottomright: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#eventChannelGroups .ui-corner-all {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

/**/
#eventGroup .ui-tabs-panel {
    display: none;
}

#eventGroup.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0 0 1px 0;
    box-sizing: border-box;
}

#eventGroup.ui-tabs-vertical .ui-tabs-nav li a {
    width: 90%;
}

#eventGroup.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
    z-index: 1;
    width: 187px;
    margin-left: -1px;
    border-left: 1px solid #fff;
}

#eventGroup .ui-tabs .ui-tabs-nav li {
    border-bottom: 1px solid #B6B6B6 !important;
    border-left: 0px !important;
}

#eventGroup .ui-corner-left {
    -moz-border-radius-topleft: 0 !important;
    -webkit-border-top-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    -moz-border-radius-bottomleft: 0 !important;
    -webkit-border-bottom-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

#eventGroup .ui-corner-right {
    -moz-border-radius-topright: 0 !important;
    -webkit-border-top-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    -moz-border-radius-bottomright: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#eventGroup .ui-corner-all {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
/**/

.edChannelData {
    height: 100%;
    width: 100%;
}

#eventDetailChannels .channeldata_default,
#eventDetailChannels .channeldata_purple_black,
#eventDetailChannels .channeldata_white_white,
#eventDetailChannels .channeldata_green_white, 
#eventDetailChannels .channeldata_yellow_black,
#eventDetailChannels .channeldata_blue_black,
#eventDetailChannels .channeldata_orange_white, 
#eventDetailChannels .channeldata_red_white,
#eventDetailChannels .channeldata_white_black_left {
    height: 18px;
    line-height: 18px;
    text-align: center;
    overflow: hidden;
}

#eventDetailChannels .channeldata_default {
    background: transparent;
    color: black;
}

#eventDetailChannels .channeldata_purple_black {
    background: #cc99ff;
    color: black;
}

#eventDetailChannels .channeldata_white_white {
    background: white;
    color: white;
}

#eventDetailChannels .channeldata_green_white {
    background: green;
    color: white;
}

#eventDetailChannels .channeldata_yellow_black {
    background: yellow;
    color: black;
}

#eventDetailChannels .channeldata_blue_black {
    background: #5cb3ff;
    color: black;
}

#eventDetailChannels .channeldata_orange_white {
    background: #d9680d;
    color: white;
}

#eventDetailChannels .channeldata_red_white {
    background: #cc0000;
    color: white;
}

#eventDetailChannels .channeldata_white_black_left {
    background: transparent;
    color: black;
    text-align: left !important;
    padding-left: 5px;
}

#eventTableDetailHeader {
    padding: 5px;
    position: absolute;
    top: 0px;
    left: 285px;
    right: 185px;
}

#eventTableDetailPane {
    position: absolute;
    top: 28px;
    left: 285px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
}

#eventTableDetail {
    width: 100%;
}

#eventTableDetail td {
    border: 1px solid #b6b6b6;
    background: white;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
}

.fullSizeAbsolute {
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
}

.eventValueCell {
	border: 1px solid #b6b6b6;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
}

/*
#divVehicleTable table thead th {
    height: 150px;
}

#divVehicleTable .headerContent {
    width: 20px !important;
}

#eventDetailDrillDown table{
    table-layout: fixed;
}

#divVehicleTable table thead th div {
    position: relative;
}

#divVehicleTable table thead th div span {
    position: absolute;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin-x: 0%;
    -webkit-transform-origin-y: 50%;
    -moz-transform: rotate(270deg);
    -moz-transform-origin-x: 0%;
    -moz-transform-origin-y: 50%;
    -ms-transform: rotate(270deg);
    -ms-transform-origin-x: 0%;
    -ms-transform-origin-y: 50%;
    transform-origin: 0% 50%;
    top: 140px;
    left: 50%;
}

.ie7 #divVehicleTable table thead th div,
.ie8 #divVehicleTable table thead th div,
.ie9 #divVehicleTable table thead th div {
    font-weight: normal;
    text-align: center;
}

.ie7 #divVehicleTable table thead th div span,
.ie8 #divVehicleTable table thead th div span {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    writing-mode: tb-rl;
    filter: flipv fliph;
    text-align: left;
    padding-top: 5px;
    box-sizing: border-box;
}

#divVehicleTable .eventTimeStampColumn{
    width: 100px;
}


#divVehicleTable .tabular .scroller table tr td div {
font-size: 8pt;
}


#divVehicleTable .tabular .scroller table tr td div {
    font-size: 8pt;
}
*/

#eventDetailChannels table tr td div {
    font-size: 8pt;
}

#eventDetailLinks {
    position: absolute;
    bottom: 0px;
    left: 280px;
    right: 185px;
}

.eventDetailButton {
    position: relative;
    margin-top: 5px;
    bottom: 0px;
    left: 5px;
    margin-right: 3px;
    line-height: 32px;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    float: left;
}

.eventDetailButton span {
    vertical-align: middle;
    line-height: 15px !important;
}

/* Event Data tab styles*/
#eventDataTab {
	height: 465px;
	overflow-y: scroll;
}

.dataTabColumnLeft {
	width: 95%;
	float: left;
}

.dataTabColumnRight {
	width: 220px;
	height: 510px;
	top: 0px;
	border-color: #b6b6b6;
	float: right;
	position: relative;
	top: -1px;
	text-align: center;
}

.eventDataField {
    padding: 5px;
}

.eventDataTab_label {
    float: left;
    width: 100%;
}

.eventDataTab_textarea {
    width: 100%;
    height: 50px;
    resize: none;
}

.eventDataTab_textinput {
    width: 98%;
}

.eventDataButtonContainer {
	height: 50px;
}

.eventDataButton {
    margin-top: 10px;
}

#submitComment {
    left: 5px;
}

#eventGroupHeader {
	height: 20px;
	line-height: 20px;
}

#eventGroupContainer, 
#eventGroupDiv {
	height: 95%;
}

#eventGroupDiv {
	background: #444;
}

#eventGroupTable {
    width: 100%;
    table-layout: fixed;
    color: #DDD;
}

#eventGroupTable tbody tr {
    border-bottom: 1px solid #666;
    height: 20px;
    line-height: 20px;
}

.eventDataTab_spantextarea {
	width: 98%;
	padding: 3px;
	display: inline-block;
	border: 1px solid #b6b6b6;
	cursor: default;
	min-height: 50px;
}

.eventDataTab_spantextarea p { 
	margin-top: 0px;
}

#eventDataTab a {
	color: blue;
}

#eventDescriptionTable a {
	color: blue;
}

#eventGroup,
#eventChannelGroups {
    overflow-x:hidden;
}

#commentHistory_display p {
	word-wrap: break-word;
	margin-bottom: 0px;
}

.groupLead {
	background: linear-gradient(cornsilk, gold) !important;
}

.groupLead.ui-state-active {
	background: lemonchiffon !important;
}