.activeVehicle {
    background: yellow;
}

.drill_default,
.drill_purple_black,
.drill_white_white,
.drill_green_white, 
.drill_yellow_black,
.drill_blue_black,
.drill_orange_white, 
.drill_red_white,
.drill_white_black_left {
    height: 100%;
    text-align: center;
    overflow: hidden;
    white-space: normal!important;
}

.drill_purple_black {
    background: #cc99ff;
    color: black;
}

.drill_white_white {
    background: white;
    color: white;
}

.drill_green_white {
    background: green;
    color: white;
}

.drill_yellow_black {
    background: yellow;
    color: black;
}

.drill_blue_black {
    background: #5cb3ff;
    color: black;
}

.drill_orange_white {
    background: #d9680d;
    color: white;
}

.drill_red_white {
    background: #cc0000;
    color: white;
}

.drill_white_black_left {
    background: white;
    color: black;
    text-align: left !important;
}

.drilldownTable th,
.drilldownTable td {
    line-height: 18px;
}

#drilldown_dialog .c0 {
    white-space: nowrap;
    overflow: hidden;
}

#drilldown_dialog  {
    padding: .5em .5em;
    min-height: 0px !important;
}

#drilldown_dialog > .tabular .fixed table {
    table-layout: auto;
}

.drilldownTable {
    height: 400px;
}