#faultSummary {
    width: 55%;
    margin-top: 5px;
}

#faultSummaryHeader {
    height: 30px;
}

#faultSummaryTable {
    height: 40px;
    width: 100%;
    top: -1px;
    box-sizing: border-box;
    border-left: solid 1px #B6B6B6;
    border-right: solid 1px #B6B6B6;
    border-bottom: solid 1px #B6B6B6;
}

#faultSummaryTable  tr{
    height: 20px;
    text-align: center;
}

#restartRecoveryButton{
    margin-top: 14px;
    width: 130px;
    cursor: pointer;
}

#worstCaseScenario {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40%;
}

#worstCaseScenarioBox {
    height: 46px;
    margin-left: 5px;
    width: 99%;
    resize: none;
}

#recoveryDetails {
    margin-top: 20px;
    width: 100%;
}

#recoveryDetailsHeader {
    height: 30px;
}

#recoveryDetailsTable {
    height: 100%;
    width: 100%;
    top: -1px;
    box-sizing: border-box;
    border-left: solid 1px #B6B6B6;
    border-right: solid 1px #B6B6B6;
    border-bottom: solid 1px #B6B6B6;
    text-align: center;
}

#recoveryDetailsTable th {
    border: hidden;
}

#recoveryDetailsGrid tr {
    height: 20px;
    width: 100%;
}

#recoveryDetailsGrid td {
    width: 20%;
    border: hidden;
}

#completeRecoveryButton{
    cursor: pointer;
    margin-top: 24px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timer{
    position: relative;
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(255, 254, 255);
    text-align: right;
    display: inline-block;
    float: right;
    border-radius: 7px;
    right: 5px;
}

.tableTitle {
    line-height: 32px;
    margin-left: 10px;
    float: left;
    font-weight: bold;
}

.recoveryDetailsBox {
    height: 70px;
    width: 90%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    resize: none;
}

.recoveryDetailsButton {
    text-align: center;
    margin:0px auto;
    width: 90%;
    margin-top: 18px;
    cursor: pointer;
}

.orangeButton {
    background-color: #FF6D05;
    border: 1px solid #B6B6B6;
    font-weight: bold;
    font-size: 1em;
    color: #4F4F4F;
}