.faultHistory {
    position: relative;
    height: 100%;
}

.eventHeader {
    height: 40px;
    padding: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.eventHeader label {
    margin-right: 3px;
}

#faultTable {
    position: absolute;
    width: 100%;
    top: 40px;
    bottom: 0px;
}

#faultGroupTable {
    position: absolute;
    width: 100%;
    top:0px;
    bottom: 0px;
}

#faultTable .eventIcon,
#faultGroupTable .eventIcon {
    margin-top: 7px;
}

#faultTable table,
#faultGroupTable table {
    width: 100%;
}

#faultTable table,
#faultGroupTable table {
    height: 23px;
    line-height: 23px;
}

#faultTable table td,
#faultGroupTable table td {
    font-size: 10pt;
}

#faultTable table tr,
#faultGroupTable table tr {
    cursor: pointer;
}

#faultTable table tr.odd,
#faultGroupTable table tr.odd {
    background-color: #F2F2F2;
}

#faultTable table tr.even,
#faultGroupTable table tr.even {
    background-color: white;
}

#faultTable td,
#faultGroupTable td {
    padding: 1px;
    border: 1px solid #DDD;
}

#faultTable th,
#faultGroupTable th {
    color: #555;
    border: 1px solid #BBB;
    text-align: left;
    height: 18px;
}

#faultTable th .headerContent,
#faultGroupTable th .headerContent {
	white-space: nowrap;
	text-align: center important;
	text-indent: 10px;
}

#faultTable td, #faultTable th,
#faultGroupTable td, #faultGroupTable th  {
    white-space: nowrap;
    padding: 2px;
    padding-left: 4px;
}

.faultBottom {
    bottom: 0px; 
    position: absolute;
    width: 100%; 
}

.advancedSearch {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 136px;
    padding: 0 5px;
    box-sizing: border-box;
    display: none;
    background: white !important;
    filter:progid:DXImageTransform.Microsoft.gradient(Enabled=false);
}

input:focus {
    outline: none;
}

.advancedSearch input[type=text] {
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 9px;
    width: 143px;
}

.eventHeader .timePicker {
	height: 24px !important;
	margin-bottom: -8px !important;
}

.eventHeader .timePicker .inputDiv {
	padding-top: 0px !important;
}

.eventHeader .timePicker .inputDiv input {
	height: 21px !important;
}

.inputKeyword {
    margin-right: 10px;
}

.inputFaultUnit {
    width:60px; 
    height:13px; 
}

.inputFaultDetailDesc { 
    width:150px;
    height:13px; 
}

.inputFaultDetailLoc { 
    width:60px; 
    height:13px; 
}

.row_selected {
     background-color: #A9D0F5 !important; 
}

#faultTable .sorting_asc,
#faultGroupTable .sorting_asc {
    background: url('../img/sort_asc.gif') no-repeat right bottom;
}

#faultTable .sorting_desc,
#faultGroupTable .sorting_desc {
    background: url('../img/sort_desc.gif') no-repeat right bottom;
}

#commonSearchFields, #additionalSearchFields {
    height: 41px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    display: table;
    float: left;
}

#additionalSearchFields {
}

.searchLabel80 {
    width: 105px;
    display: inline-block;
    padding-left: 5px;
    white-space: nowrap;
}

.searchLabel40 {
    /*width: 40px;*/
    display: inline-block;
    white-space: nowrap;
}

.labelSelect {
    position: relative;
}

.labelledItem {
    height: 32px;
    display: table-row;
}

.labelledItem > * {
    display: table-cell;
}

#additionalSearchFields .fieldGroup {
    float: left;
    margin-left: 0.5em;
}

.searchInput80 {
    width: 80px;
}

.searchInput150 {
    width: 150px;
    margin: 1px;
}

#radioDiv div.radio {
   width: 0px;
   height: 0px;
}

#radioDiv div span {
   width: 0px;
   height: 0px;
}


.rightAligned {
    position: absolute;
    top: 4px;
    right: 5px;
    display: inline-block;
}

#uniform-code {
    display: inline-block;
}

#additionalSearchFields .selector {
    display: inline-block;
    width:148px !important ;
}

#additionalSearchFields .labelledItem span {
    width:123px !important;
}

.selector {
    overflow: hidden;
}

.selector span {
    width: 200px;
    text-align:center;
}

.eventDisabled {
    background: lightgrey;
}

.sDom {
    height: 100%;
}

#radioDiv .ui-button {
    margin-left: -.2em;
    margin-right: -.5em;
}

.advancedExportEventsButton {
	bottom: 4px;
}

.uniform-multiselect {
	height:78px;
	margin-left: 4px;
    margin-right: 9px;
    width: 150px;
}

td.centered-text {
	text-align:center !important;
}

#faultTable th .headerContent,
#faultGroupTable th .headerContent {
    white-space: nowrap;
    display: table-cell;
}

.tabular .scroller table tr td div {
    text-overflow: ellipsis;
}

/** Predefined filters styles */
.definedFiltersButton {
    float: left;
    margin-right: 5px;
}

.predefinedFilters {
    position: absolute;
    left: 3px;
    width: 390px;
    /*height: 300px;*/
    display: none;
    z-index: 10;
    text-align: center;
}

.definedFiltersHeader {
    height: 23px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px #222;
}

.definedFiltersContainer {
	padding: 7px 5px 7px 5px;
}

.definedFilterButtonContainer {
	/* width: 98%; */
	height: 50px;
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	color: black;
	font-weight: normal;
	text-align: left;
	padding: 1px 1px 1px 1px;
}

.filterLabel {
    float: left;
    line-height: 50px;
    margin-left: 2px;
    margin-right: 4px;
}

.filterButton {
    float: right;
    line-height: 50px;
    margin-right: 2px;
}

.groupCheckboxColumn {
    text-align: center;
    vertical-align: middle;
    padding-left: 2px !important;
}

#eventGroupDialog {
    padding: 0px;
}

tr.highlight {
    background-color: #ffff00 !important;
}

.ui-autocomplete { 
	max-height: 250px; 
	overflow-y: auto; 
	overflow-x: hidden;
}