#eventAnalysis {
     height: 100%;
}

#eventAnalysis #eventAnalysisTabs {
    height: 100%;
    position: relative;
}

#eventAnalysis .ui-tabs-panel {
    display: none;
}

#eventAnalysis #eaContent {
    position: absolute;
    top: 30px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 10px;
}

#eventAnalysis #eaReport {
    position: relative;
    height: 100%;
    width: 100%;
}

#eventAnalysis #eaReportHeader {
    height: 40px;
    width: 100%;
}

#eventAnalysis #eaReportHeader div{
    float: left;
    margin-left: 8px;
}

#eventAnalysis #eaFilterButton .ui-button-text {
    height: 16px;
}

#eventAnalysis #eaFilterLabel {
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-style: oblique;
    font-size: 11px;
    display: inline;
    position: absolute;
}

#eventAnalysis #eaExpandButton {
    position: absolute;
    right: 0px;
    top: 35px;
    width: 20px;
    height: 20px;
    outline: none;
    border-width: 0px;
    background: url('../img/icon_plus.png') no-repeat;
    cursor: pointer;
}

#eventAnalysis #eaReduceButton {
    width: 20px;
    height: 20px;
    outline: none;
    border-width: 0px;
    background: url('../img/icon_less.png') no-repeat;
    cursor: pointer;
    margin-left: 5px;
    float: right;
}

#eventAnalysis #eaReportContainer {
    position: absolute;
    top: 55px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow-y: auto;
}

#eventAnalysis #eaReportContentPanel {
    position: relative;
    height: 50%;
    min-height: 300px;
}

#eventAnalysis #eaReportTablePanel {
    position: relative;
}

#eventAnalysis #eaReportDetailTablePanel {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: white;
}

#eventAnalysis #eaReportChartContent {
    display: none;
    position: absolute;
    top: 0px;   
    right: 0px;
    bottom: 5px;
    left: 0px;
}

#eventAnalysis #eaReportMapContent {
    display: none;
    position: absolute;
    top: 0px;   
    right: 0px;
    bottom: 5px;
    left: 0px;
    border: 2px solid #BBB;
}

#eventAnalysis .map-zoomer {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

#eventAnalysis .map-zoom-out,
#eventAnalysis .map-zoom-in,
#eventAnalysis .map-zoom-overview {
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #aaa;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    font-weight: normal;
    float: left;
    cursor: pointer;
}

#eventAnalysis .map-zoom-in,
#eventAnalysis .map-zoom-out {
    font-size: 14px;
    width: 33px;
    border-right: 0px;
}

#eventAnalysis .map-zoom-overview {
    padding-left: 5px;
    padding-right: 5px;
}

#eventAnalysis .infobox-info {
    padding: 5px !important;
}

#eventAnalysis .infobox-info table {
    width: 100%;
}

#eventAnalysis .infobox-info td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#eventAnalysis .infobox-info .eaInfoboxValue {
    text-align: right;
}

#eventAnalysis #eaReportTable {
    position: absolute;
    top: 35px;   
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-left: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}

#eventAnalysis #eaReportDetailReturn {
    position: relative;
    height: 26px;
    line-height: 26px;
    padding-right: 5px;
    cursor: pointer;
}

#eventAnalysis #eaReportDetailReturn span {
    height: 22px;
    float: right;
    margin-right: 5px;
}

#eventAnalysis #eaReportDetailReturn img {
    width: 22px;
    height: 22px;
    border: none;
    float: right;
}

#eventAnalysis #eaReportDetailTable {
    position: absolute;
    top: 30px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-left: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}

#eventAnalysis .eventIcon {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background: gray;
    margin: auto;
    margin-top: 5px;
}

#eventAnalysis #eaReportTable th,
#eventAnalysis #eaReportDetailTable th {
    white-space: nowrap;
    padding: 2px;
    padding-left: 4px;
    line-height: 20px;
    text-align: center;
    font-weight: normal;
    border: 1px solid #BBB;
}

#eventAnalysis #eaReportTable td,
#eventAnalysis #eaReportDetailTable td {
    white-space: nowrap;
    line-height: 18px;
    font-weight: normal;
    cursor: pointer;
}

/* filter dialog */
#eventAnalysis #eaFilterDialog {
    display: none;
    height: 190px;
    position: absolute;
    top: 40px;
    left: -5px;
}

#eaFilterDialog .eaFilterLine {
    height: 50%;
    clear: both;
    margin-top: 8px;
}

#eaFilterDialog .eaFilterField {
    margin-left: 10px;
    float: left;
}

#eaFilterDialog .eaFilterLabel {
    position: relative;
    font-weight: bold;
    margin-left: 4px;
    margin-bottom: -3px;
}

#eaFilterDialog .eaFilterField .selector {
    display: inline-block !important;
    width: 160px !important;
}

#eaFilterDialog .eaFilterField  .selector span {
    width: 139px !important;
}

#eaFilterDialog .eaFilterField .textInput{
    margin-top: 5px;
    margin-left: 4px;
    width: 160px;
}

#eaFilterDialog .eaFilterField .multiSelector {
    margin-left: 4px;
    width: 166px;
    height: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
}

#eaFilterDialog .eaFilterField .multiSelector option {
    background: white;
    text-overflow: ellipsis;
    overflow: hidden;
}

#eaFilterDialog .eaFilterField .timePicker {
    height: 24px !important;
    width: 165px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
}

#eaFilterDialog .eaFilterField .timePicker .inputDiv {
    width: 165px;
}

#eaFilterDialog .eaFilterField .timePicker .inputDiv  input{
    height: 18px !important;
    width: 140px;
    margin-top: 0px;
}

#eaFilterDialog .eaFilterField .timePicker .inputDiv .hour{
    display: none;
}

#eaFilterDialog .eaFilterField .timePicker .inputDiv .minute{
    display: none;
}

#eaFilterDialog .eaFilterField .timePicker .inputDiv .second{
    display: none;
}