.unitSelector div, .unitSelector table {
    font-family: arial;
    font-size: 11px;
}

.unitSelector {
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #AAA;
    background-color: #eee;
}

.unitSelector.noBorderBottom {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.unitSelector .textBox {
    background: transparent;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    border: none;
    color: #222;
    text-transform: uppercase;
    box-sizing: border-box;
}

.usShim {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    display: none;
}

.usResults {
    color: black;
    height: auto;
    background-color: white;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.usResults table {
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
}

.usResults table tr {
    cursor: pointer;
}

.usResults table tr td,
.usResults table tr th {
    line-height: 18px;
    text-align: center;
    padding: 5px;
}

.usResults table tr th {
    text-shadow: 1px 1px #222;
}

.usResults table tr.result {
    border-bottom: 1px solid #CCC;
}

.usResults table tr td span.hl {
    background: yellow;
    border-radius: 2px;
}

.usResults table tr.ui-state-active {
    background: #dedede;
    color: #08f;
    border:0px;
    border-bottom:1px solid #dedede;
    box-sizing: border-box;
}

.usResults table tr.sel, div.usResults table tr.sel td span.hl {
    background: #666;
    color: white;
}

.unitSelector .textBox:focus {
    outline: none;
}