#mapHeader {
	position: relative;
	width: 100%;
	height: 60px;
	border-top: 1px solid #b6b6b6;
	background-color: white;
	display: none;
}

#timeController {
	position: absolute;
	top: 15px;
	right: 5px;
	z-index: 1;
}



#timeCtrlBtn {
	float: right;
	width: 24px;
	height: 24px;
	margin-top: 7px;
	margin-right: 5px;
}

#timeCtrlBtn .ui-icon {
	left: 0.2em;
}

#playPauseButton, #timePicker {
    float: left;
}

#playPauseButton {
    margin-right: 5px;
}

#mapWrapper {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#mapContainer {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#mapToolbar {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #E0ECF8;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#mapToolbar #trainSearch {
    float: right;
    display: inline;
    margin-top: 7px;
    border: 1px solid #CCC;
    height: 19px;
    line-height: 19px;
    width: 101px;
    margin-right: 5px;
}

#mapToolbar .ui-buttonset {
    margin-top: 6px;
    margin-left: 10px;
    width: 100%;
    margin-right: 280px;
}

#mapContainer .selector {
    float: right;
    margin-top: 3px;
    width: 153px !important;
}

#mapContainer .selector span{
    width: 128px !important;
}

#mapContainer #map {
    position: absolute;
    top: 40px;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

#mapContainer #mapEventAlert {
    position: absolute;
    width: 48px;
    height: 48px;
}

#mapContainer #mapInfoOverlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 310px;
    z-index: 1;
    display: none;
    color: black;
    background: #c4c4c4;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100% !important;
}

#mapContainer #mapInfoOverlayToolbar {
    position: relative;
    height: 20px;
    margin-top: 5px;
}

#mapContainer #mapInfoOverlayToolbar_Content {
    position: relative;
    line-height: 20px;
    color: #222;
    text-align: center;
}

#mapContainer #mapInfoOverlayToolbar_Close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 15px;
    background: url('../img/close.bmp') no-repeat;
}

#mapContainer #mapInfoOverlayMap {
    position: relative;
    height: 190px;
    margin-top: 2px;
    margin-left: 1px;
}

#mapContainer #mapInfoOverlayMapContent {
    position: relative;
    width: 100%;
    height: 100%;
}

#mapInfoOverlayMap .infobox-title {
    overflow: hidden;
    font-family: Verdana,Arial,sans-serif;
    font-size: 11px;
    white-space: nowrap;
}

#mapContainer #mapInfoOverlayDetail {
    position: relative;
    overflow: hidden;
    margin-top: 3px;
    float: left;
    width: 100%;
}

#mapContainer #mapInfoOverlayDetailTable {
    position: relative;
    width: 100%;
    background: white;
}

#mapInfoOverlayDetailTable .header {
    height: 20px;
    line-height: 20px;
    color: #222;
    text-align: left;
    text-indent: 125px; 
}

#mapInfoOverlayDetailTable td {
    border: 1px solid #BBB;
    padding: 1px;
    height: 16px;
    line-height: 16px;
}

#mapInfoOverlayDetailTable .data,
#mapInfoOverlayDetailTable .dataHeader {
    font-family: Verdana,Arial,sans-serif;
    font-size: 10px;
    overflow: hidden;
    font-weight: normal;
    white-space: nowrap;
}

#mapContainer #mapInfoOverlayEvents {
    position: relative;
    margin-top: 3px;
    float: left;
    height: 100%;
    width: 100%;
    left: 1px;
}

#mapContainer #mapInfoOverlayEventsContent {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#mapContainer #mapInfoOverlayEventsTabs {
    height: 100%;
    box-sizing: border-box;
}

#mapInfoOverlayEventsTabs #eventsTabLive,
#mapInfoOverlayEventsTabs #eventsTabRecent {
    overflow-x: hidden;
    overflow-y: auto;
}

#mapContainer #mapInfoOverlayEventsLiveTable,
#mapContainer #mapInfoOverlayEventsRecentTable {
    width: 100%;
    table-layout: fixed;
}

#mapInfoOverlayEventsLiveTable tr:hover,
#mapInfoOverlayEventsRecentTable tr:hover {
    cursor: pointer;
}

#mapInfoOverlayEventsLiveTable td,
#mapInfoOverlayEventsRecentTable td {
    font-family: Verdana,Arial,sans-serif;
    font-size: 10px;
    /*border: 1px solid #BBB;*/
    overflow: hidden;
    font-weight: normal;
    white-space: nowrap;
}

/* Small tabs */
#mapInfoOverlay .ui-tabs .ui-tabs-nav li a {
    padding: .35em 1em;
}

#mapInfoOverlay .ui-tabs .ui-tabs-nav {
    padding: 0em 0em 0em;
    
}

#mapInfoOverlay .ui-tabs .ui-tabs-nav li {
    margin: 0 0.1em 0 0.1em;
}

#mapInfoOverlay .ui-tabs .ui-tabs-panel {
    position: absolute;
    top: 2.1em;
    bottom: 0.0em;
    left: 0em;
    right: 0em;
    padding: .5em;
}
/* end small tabs */

#mapContainer .trainInfo {
    /*position: absolute;*/
    overflow: visible;
    font-family: Verdana,Arial,sans-serif;
    font-size: 11px;
    color: #000;
    background-color: white;
    border: solid 1px #CCC;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 25px;
    line-height: 25px;
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap;
    margin-top: 14px;
    z-index: 999;
}

#mapContainer .buttonMap{
    border-style: solid;
    border-width: 1px;
    font-size: 11px;
    background-color: #E8E8F5;
    padding: 2px;
    margin: 2px 2px;
    border-color: #F6F6FF #A6A6AF #A6A6AF #F6F6FF;
}

#mapContainer .mapCheck {
}

#mapContainer .mapSearch,
#mapContainer .mapSearchWatermark {
    margin-top: 2px;
    width: 60px;
}

#mapContainer .mapSearch {
}

#mapContainer .mapSearchWatermark {
    color: #999;
}

/*
.MicrosoftNav + div {
    display: none !important;
    visibility: hidden !important;
}*/

.zoomer {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

 .zoomout, .zoomin {
    height: 28px;
    width: 33px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #aaa;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    font-weight: normal;
    float: left;
    cursor: pointer;
    line-height:27px;
}

.zoomout {
    border-right: 0px;
}

#unitDetailHeader {
    cursor: pointer;
    margin-top: 2px;
}

.mapPopupHeader {
    font-size: 11px !important;
    border: 1px solid #000 !important;
    text-align: center !important;
    padding: 3px !important;
    color: black !important;
}

.mapPopupBody {
    font-family: Verdana, Arial, Helvetica;
    font-size: 11px !important;
    padding: 0px;
    color: black !important;
}

.mapPopupBodyRow {
    font-size: 11px !important;
    padding: 3px !important;
    color: black !important;
}

.mapButton {
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 19%;
    margin-right: 1px;
    height: 34px;
    cursor: pointer;
    float: left;
}

.mapButton span {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    font-size: 10px !important;
}

#mapUnitSearchPanel {
    position: absolute;
    top: 35px;
    display: none;
    z-index: 2000;
    right: 195px;
}

#mapUnitSelector {
	display: inline-block;
    padding: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #AAA;
    background-color: #eee;
}

#mapUnitSelector .textBox {
    background: transparent;
    height: 25px;
    width: 250px;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    border: none;
    color: #222;
    text-transform: uppercase;
    box-sizing: border-box;
}

#mapUnitSearchPanel .unitSearchBody {
    position: relative;
    padding: 5px;
    box-shadow: 3px 3px 3px #666;
}

#mapUnitSearch {
	display: inline;
    float: right;
    width: 24px;
    height: 24px;
    margin-top: 7px;
    margin-right: 5px;
}

#mapUnitSearch {
	display: inline;
    float: right;
    width: 24px;
    height: 24px;
    margin-top: 7px;
    margin-right: 5px;
}

#mapUnitSearch .ui-icon {
    left: 0.2em;
}