#changePasswordDialog .changePasswordLabel {
    padding-top: 10px;
}

#changePasswordDialog .changePasswordMessage {
    height: 18px;
    line-height: 18px;
    color: red;
}

#changePasswordDialog .changePasswordError {
    background: #FFCCCC;
}

#changePasswordDialog .passwordField {
    width: 100%;
    padding: 0px;
    height: 26px;
}
