#playPauseButton {
    height: 30px;
    width: 100px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ie-box-sizing: border-box;
    box-sizing: border-box;
}

.toggleButton {
    position: relative;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.toggleButton .ui-state-active {
    border: 0px;
}

.toggleButton .slider {
    position: absolute;
    top: 0px;
    height: 30px;
    width: 50px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ie-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -1px;
    margin-left: -1px;
}

.toggleButton div.option {
    background: transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(Enabled=false);
    line-height: 30px;
    height: 30px;
    width: 50%;
    float: left;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ie-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 8.5px;;
    text-shadow: 1px 1px #ccc;
}