#absoluteCab {
    top: 3.4em;
    position: absolute;
    left: 10px;
    right: 10px;
    display: none;
    background: #222;
}

#cabMain {
    height: 100%;
}

.component{
    position: absolute;
}

.component.panel{
    background: #111;
    border-radius: 5px;
}

.component.whitepanel{
    background: #ddd;
    border-radius: 5px;
}

.component.greypanel{
    background: rgb(194, 194, 194);
    border-radius: 5px;
}

.widget {}

#cabBorder {
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    /*background: gray;*/
}


.cabLabel {
    position: absolute;
    font-family: helvetica, arial, serif;
    color: #eee;
    text-align: center;
    text-shadow: gray 0.1em 0.15em 1em;
    letter-spacing: 0.15em;
    font-size: 8px !important;
    line-height: 14px;
}

.valueLabel {
    position: absolute;
    font-family: helvetica, arial, serif;
    color: #eee;
    text-align: center;
    letter-spacing: 0.15em;
    font-size: 9px ;
    font-weight: bold;
    line-height: 14px;
}

.redLabel {
     color: red;
}
.bigLabel {
    font-size: 12px !important;
    font-weight: bold;
}


.size10Label {
    font-size: 10px !important;
}

.titleLabel {
    font-size: 35px !important;
}

.label20px {
    font-size: 20px !important;
}

.blackLabel {
    color: #111;
    text-shadow: none;
}

.smallLabel {
    font-size: 9px !important;
}

.verySmallLabel {
    font-size: 5px !important;
}

.normalLineHeight{
    line-height: 10px;   
}

.smallLineHeight{
    line-height: 8px;   
}

.leftLabel {
    text-align: left;
}

.rightLabel {
    text-align: right;
}

.led {}