#cdMain {
    position: relative;
    height: 100%;
    width: 100%;
}

#cdChannelGroups {
    position: relative;
    height: 100%;
    width: 180px;
    display: inline-block;
}

#cdTableContainer {
    position: absolute;
    top: 1px;
    left: 180px;
    right: 0;
    bottom: 0;
    border: solid 1px #B6B6B6;
}

#cdTable {
    position: absolute;
    top: 18px;
    left: 18px;
    right: 18px;
    bottom: 50px;
}

#cdTableContainer #cdShowHideButton {
    position: absolute;
    left: 18px;
    right: 18px;
    bottom: 10px;
    display: inline-block;
    text-align: center;
    height: 30px;
}

#cdTableContainer button {
    position: relative;
    
    width: 150px;
    height: 100%;
    line-height: 100%;
    
    font-size: 1em;
    font-weight: bold;
}

#cdTable .scroller {
    overflow-y: scroll !important;
}

/* Vertical Tabs
----------------------------------*/
#cdMain .ui-tabs-panel {
    display: none;
}

#cdMain .ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0 0 1px 0;
    box-sizing: border-box;
}

#cdMain .ui-tabs-vertical .ui-tabs-nav li a {
    width: 100%;
}

#cdMain .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
    z-index: 1;
    width: 181px;
}

#cdMain .ui-tabs .ui-tabs-nav li {
    border-bottom: 1px solid #B6B6B6 !important;
    border-right: 0px !important;
}

#cdChannelGroups .ui-corner-left {
    -moz-border-radius-topleft: 0 !important;
    -webkit-border-top-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    -moz-border-radius-bottomleft: 0 !important;
    -webkit-border-bottom-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

#cdChannelGroups .ui-corner-all {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
/*---------------------------------------------*/

/* Channel Group Coloring
-----------------------------------------------*/
#cdMain .ui-state-default-NODATA,
#cdMain .ui-state-default-NORMAL,
#cdMain .ui-state-default-ON,
#cdMain .ui-state-default-OFF {
    background: #ededed url(images/bg_fallback.png) 0 0 repeat-x;
}

#cdMain .ui-tabs-selected-NODATA a,
#cdMain .ui-tabs-selected-NORMAL a,
#cdMain .ui-tabs-selected-ON a,
#cdMain .ui-tabs-selected-OFF a {
}

#cdMain .ui-state-default-INVALID {
    background: #CC99FF; /* Old browsers */
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF99FF, endColorstr=#CC99FF);
    background: -moz-linear-gradient(top, #FF99FF 0%, #CC99FF 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF99FF), color-stop(100%,#CC99FF)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FF99FF 0%,#CC99FF 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FF99FF 0%,#CC99FF 100%) !important; /* Opera11.10+ */
    background: -ms-linear-gradient(top, #FF99FF 0%,#CC99FF 100%) !important; /* IE10+ */
    background: linear-gradient(top, #FF99FF 0%,#CC99FF 100%) !important; /* W3C */
}

#cdMain .ui-tabs-selected-INVALID a {
    color: #CC99FF !important;
}

#cdMain .ui-state-default-FAULT,
#cdMain .ui-state-default-FAULT1,
#cdMain .ui-state-default-FAULT2 {
    background: #FF2222; /* Old browsers */
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF3333, endColorstr=#FF0000);
    background: -moz-linear-gradient(top, #FF3333 0%, #FF0000 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF3333), color-stop(100%,#FF0000)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FF3333 0%,#FF0000 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FF3333 0%,#FF0000 100%) !important; /* Opera11.10+ */
    background: -ms-linear-gradient(top, #FF3333 0%,#FF0000 100%) !important; /* IE10+ */
    background: linear-gradient(top, #FF3333 0%,#FF0000 100%) !important; /* W3C */
}

#cdMain .ui-tabs-selected-FAULT a,
#cdMain .ui-tabs-selected-FAULT1 a,
#cdMain .ui-tabs-selected-FAULT2 a {
    color: #FF3333 !important;
}

#cdMain .ui-state-default-WARNING,
#cdMain .ui-state-default-WARNING1,
#cdMain .ui-state-default-WARNING2 {
    background: #FF9900; /* Old browsers */
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFCC33, endColorstr=#FF9900);
    background: -moz-linear-gradient(top, #FFCC33 0%, #FF9900 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFCC33), color-stop(100%,#FF9900)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FFCC33 0%,#FF9900 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FFCC33 0%,#FF9900 100%) !important; /* Opera11.10+ */
    background: -ms-linear-gradient(top, #FFCC33 0%,#FF9900 100%) !important; /* IE10+ */
    background: linear-gradient(top, #FFCC33 0%,#FF9900 100%) !important; /* W3C */
}

#cdMain .ui-tabs-selected-WARNING a,
#cdMain .ui-tabs-selected-WARNING1 a,
#cdMain .ui-tabs-selected-WARNING2 a {
    color: #FF9900 !important;
}
/*---------------------------------------------*/


#cdTableContainer th {
    height: 26px;
    line-height: 26px;
}
/*
#cdTableContainer th,
#cdTableContainer td {
    height: 26px;
    line-height: 26px;
}
*/

#cdTableContainer td {
    padding: 4px;
    box-sizing: border-box;
}

/*---------------------------------------------*/

.eventTimeStampColumn {
    line-height: 18px;
}