#absoluteSchematic {
    top: 3.5em;
    position: absolute;
    left: 10px;
    right: 10px;
    display: none;
}

#schematicMain {
    height: 100%;
}

#schematicContainer {
    padding-left: 20px;
    padding-top: 20px;
}
