#udMain {
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

#udInfo {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-color: #EEE;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
}

.udInfoTable {
    position: relative;
    box-sizing: border-box;
    height: 100%;
}

.udInfoLabel {
    font-weight: bold;
    line-height: 28px;
    padding-right: 15px;
}

.udInfoData {
    line-height: 28px;
    margin-left: 5px;
    padding-right: 40px;
}

.udInfoEditIcon {
    display: inline-block;
    cursor: pointer;
}

.udRow {
	position: relative;
    box-sizing: border-box;
    width: 100%;
    /*flex: 1;*/  /* CSS flex not supported by IE8*/
    float: left;
    display: table-cell;
}

.singleRow {
	height: 90%;
}

.doubleRow {
	height: 45%;
}

.udCell {
	position: relative;
	float: left;
	height: 100%;
	/*flex: 1;*/ /* CSS flex not supported by IE8*/
	
	box-sizing: border-box;
	border-top: solid 1px #B6B6B6;
    border-left: solid 1px #B6B6B6;
    border-right: solid 1px #B6B6B6;
    border-bottom: solid 1px #B6B6B6;
}

.singleCell {
	width: 100%;
}

.doubleCell {
	width: 50%;
}

.tableDiv {
	position: absolute;
    width: 100%;
    top: 32px;
    bottom: 0px;
    box-sizing: border-box;
}

.udInfoDiv {
	display:inline-block;
	vertical-align: top;
}

.udInfoButtonsDiv {
	display:inline-block;
	vertical-align: top;
	position: absolute;
	right: 1px;
	top: 10px;
    width: 140px;
}

#udDiagram {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 130px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-top: 10px;
}

#udTables {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 240px;
    bottom: 0px;
    /*display: flex;
    flex-direction: column;*/ /* CSS flex not supported by IE8*/
}

#udTableEvent {
    position: relative;
    box-sizing: border-box;
    width: 49.75%;
    height: 100%;
    float: left;
}

#udTableRestriction {
    position: relative;
    box-sizing: border-box;
    width: 49.75%;
    height: 100%;
    float: right;
}

#udTables .ui-tabs-panel {
    display: none;
}

#udTables .header {
    height: 32px;
    box-sizing: border-box;
    font-size: 1em;
    /*flex: 1;*/
}

#udTables .scroller {
    overflow-y: scroll !important;
}

.udTableContainer {
	height: 100%;
	width: 100%;
	display:flex;
	min-width: 1350px;
}

#udTableEventTop, #udTableRestrictionTop {
    position: relative;
    width: 100%;
    height: 40%;
    box-sizing: border-box;
}

#udTableEventBottom, #udTableRestrictionBottom {
    position: relative;
    width: 100%;
    height: 60%;
    box-sizing: border-box;
}

#udTableEventLive, #udTableRestrictionLive {
    position: absolute;
    width: 100%;
    top: 32px;
    bottom: 0px;
    box-sizing: border-box;
}

#udTableEventRecent, #udTableRestrictionRecent {
    position: absolute;
    width: 100%;
    top: 32px;
    bottom: 0px;
    box-sizing: border-box;
}

#udTableEventLive table tr,
#udTableEventRecent table tr,
#udTableRestrictionLive table tr,
#udTableRestrictionRecent table tr {
    line-height: 20px;
}

#udTableEventLive .eventIcon,
#udTableEventRecent .eventIcon,
#udTableRestrictionLive .eventIcon,
#udTableRestrictionRecent .eventIcon {
    margin-top: 6px;
}

#udTableEventLive .ui-widget-header,
#udTableEventRecent .ui-widget-header,
#udTableRestrictionLive .ui-widget-header,
#udTableRestrictionRecent .ui-widget-header {
    background: #EDEDED !important;
}

#udTables .c1,
#udTables .c2 {
    text-align: center;
    vertical-align: middle;
}

#udTables .c2,
#udTables .c3,
#udTables .c4,
#udTables .c5,
#udTables .c6,
#udTables .c7 {
    text-align: center;
}

.tableTitle {
	float: left;
	line-height: 32px;
	margin-left: 10px;
}

.tableFilters {
	float: right;
}

.tableTextInputFilter {
	border-radius: 3px;
	margin-right: 5px;
	margin-top: 3px;
	margin-left: 3px;
}

.vehicleFilterNoShow {
    display: none;
}

#udTables .selector {
	width: 125px !important;
	margin-right: 5px;
}

#udTables .selector span {
	width: 100px !important;
}

.udRow a {
	color: blue;
}

.hasComment {
    background: url('../img/comment.png') no-repeat;
    background-position: center center;
}

