#daysSelect {
    position: absolute;
    bottom: 25px;
    right: 10px;
    padding: 5px 10px;
    background-color : white;
    opacity: 0.92;
    border-radius: 5px;
    border: 1px dashed #777;
}

#daysSelect td,th {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	vertical-align:middle;
}

#daysSelect form {
    margin: 0px;
}

#daysSelect th {
    font-size: 9px;
    padding: 0 2px;
}

#daysSelect td:first-of-type {
    text-align: left;
}

#daysSelect td {
    text-align: center;
    font-size: 12px;
    width: 35px;
}

#daysSelect .legendColorBox {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #828282;
    vertical-align:middle;
}

#daysSelect .exportIcon {
    vertical-align:middle;
    margin-top: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#daysSelect .caption {
    display: block;
    font-size: 10px;
}