<!-- channel definition view includes -->

<link rel = 'stylesheet' type = 'text/css' href = 'css/merge?resources=
    css/nexala.channeldefinition.css&view=channeldefinition
'></script>

<script type = 'text/javascript' src = 'js/merge?resources=
    js/nexala.channeldefinition.js&view=channeldefinition
'></script>

