<#if fs != true>
        </div>
    </div>

    <div id="footer">
       <div class = 'left' style = 'width: 32%'>&nbsp;&nbsp; </div>
        <div class = 'centre' style = 'width: 32%; text-align: center;' data-i18n="${footer?string}"></div>
        <div class = 'right' style = 'width: 32%;'>
        	<a href = "http://www.trimble.com/privacy" target = "_blank" style = "width: 100%; color: whitesmoke; text-align: right; text-decoration: none;">Privacy Statement</a>
        </div>
    </div>
</#if>
    </body>
</html>
